.chat-main__MessageField__MessageBox
  .chat-main__MessageField__MessageBox__MessageInfo
    .chat-main__MessageField__MessageBox__MessageInfo__userName
      = message.user.name
    .chat-main__MessageField__MessageBox__MessageInfo__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__MessageField__MessageBox__Message
    - if message.content.present?
      %p.chat-main__MessageField__MessageBox__Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?
