* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}





.side-bar {
  color: #fff;
  width: 300px;
  &__LeftHeader {
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__list {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__userName {
        font-size: 16px;
        font-weight: bold;
      }
      &__iconlist {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        &__btn--edit {
          color: white;
          text-decoration: none;
        }
        &__btn--icon {
          color: #ffffff;
          margin-left: 5px;
        }
        &__btn--cog{
          display: flex;
          justify-content: flex-end;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  &__GroupList{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    overflow: scroll;
    &__Group{
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name{
        font-size: 15px;
      }
      &__message{
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}






// .side-bar__LeftHeader{
//   background-color: #253141;
//   height: 100px;
//   padding: 0 20px;
//   display: flex;
//   align-items: center;
// }


// .side-bar__LeftHeader__list{
//   height: 20px;
//   width: 260px;
//   display: flex;
//   justify-content: space-between;
// }


// .side-bar__LeftHeader__list__userName {
//   font-size: 16px;
//   font-weight: bold;
// }


// .side-bar__LeftHeader__list__iconlist{
//   width: 60px;
//   display: flex;
//   justify-content: flex-end;
// }


// .side-bar__LeftHeader__list__iconlist__btn{

// }


// .side-bar__LeftHeader__list__iconlist__btn--edit{
//   color: white;
//   text-decoration: none;
// }


// .side-bar__LeftHeader__list__iconlist__btn--icon{
//   color: #ffffff;
//   margin-left: 5px;
// }


// .side-bar__LeftHeader__list__iconlist__btn--cog{
//   display: flex;
//   justify-content: flex-end;
//   color: white;
//   text-decoration: none;
// }


// .side-bar__LeftHeader__list__iconlist__btn--icon{

// }






// .side-bar__GroupList{
//   background-color: #2f3e51;
//   height: calc(100vh - 100px);
//   padding: 0 20px;
//   overflow: scroll;
// }


// .side-bar__GroupList__Group{
//   box-sizing: border-box;
//   padding: 20px 0 40px;
// }


// .side-bar__GroupList__Group__name{
//   font-size: 15px;
// }


// .side-bar__GroupList__Group__message{
//   font-size: 11px;
//   margin-top: 5px;
// }








.chat-main {
  width: calc(100vw - 300px);
  &__RightHeader {
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    &__group {
      display: flex;
      justify-content: space-between;
      &__name {
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__memberList {
        color: #999;
        display: flex;
        font-size: 12px;
        margin-top: 15px;
      }
    }
    &__editButton {
      display: block;
      border: solid 1px#38AEF0;
      color: #38AEF0;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      text-decoration: none;
    }
  }
  &__MessageField {
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 35px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    &__MessageBox {
      margin-bottom: 46px;
      &__MessageInfo {
        display: flex;
        &__userName {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      &__Message {
        margin-top: 12px;
        &__content {
          color: #434a54;
          font-size: 14px;
        }
      }
    }
  }
  &__Footer {
    background-color: #d2d2d2;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__Form {
      display: flex;
      justify-content: space-between;
      &__contents {
        display: flex;
        width: 100%;
        background-color: #fff;
        position: relative;
      }
      &__inputContent {
        border: none;
        height: 50px;
        width: 100%;
        padding: 0 45px 0 15px;
      }
      &__inputImage {
        height: 50px;
        position: absolute;
        margin-right: 10px;
      }
      &__fa-image {
        line-height: 50px;
        font-size: 25px;
        padding-right: 10px;
      }
      &__fa-image-before {
        content: "";
        input{
          display: none;
        }
      }
      &__submit {
        background-color: #38AEF0;
        border: none;
        color: #fff;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
        display: flex;
        align-items: center;
      }
    }
  }
}








// .chat-main__RightHeader {
//   height: 100px;
//   padding: 0 40px;
//   border-bottom: solid 1px #eeeeee;
//   display: flex;
//   justify-content: space-between;
// }


// .chat-main__RightHeader__group {
//   display: flex;
//   justify-content: space-between;
// }


// .chat-main__RightHeader__group__name {
//   color: #333333;
//   font-size: 20px;
//   margin-top: 35px;
// }


// .chat-main__RightHeader__group__memberList {
//   color: #999;
//   display: flex;
//   font-size: 12px;
//   margin-top: 15px;
// }


// .chat-main__RightHeader__editButton {
//   display: block;
//   border: solid 1px#38AEF0;
//   color: #38AEF0;
//   height: 40px;
//   line-height: 40px;
//   margin-top: 28px;
//   padding: 0 20px;
//   text-decoration: none;
// }







// .chat-main__MessageField {
//   background-color: #fafafa;
//   box-sizing: border-box;
//   padding: 35px 40px 0;
//   height: calc(100vh - 100px - 90px);
//   overflow: scroll;
// }


// .chat-main__MessageField__MessageBox {
//   margin-bottom: 46px;
// }


// .chat-main__MessageField__MessageBox__MessageInfo {
//   display: flex;
// }


// .chat-main__MessageField__MessageBox__MessageInfo__userName {
//   color: #333333;
//   font-size: 16px;
//   font-weight: bold;
// }


// .chat-main__MessageField__MessageBox__MessageInfo__date {
//   color: #999999;
//   font-size: 12px;
//   padding-left: 10px;
// }


// .chat-main__MessageField__MessageBox__Message {
//   margin-top: 12px;
// }


// .chat-main__MessageField__MessageBox__Message__content {
//   color: #434a54;
//   font-size: 14px;
// }





// .chat-main__Footer {
//   background-color: #d2d2d2;
//   box-sizing: border-box;
//   height: 90px;
//   padding: 20px 50px 20px 40px;
// }

// .chat-main__Footer__Form {
//   display: flex;
//   justify-content: space-between;
// }


// .chat-main__Footer__Form__contents {
//     display: flex;
//     width: 100%;
//     background-color: #fff;
//     position: relative;
// }


// .chat-main__Footer__Form__inputContent {
//     border: none;
//     height: 50px;
//     width: 100%;
//     padding: 0 45px 0 15px;
// }


// .chat-main__Footer__Form__inputImage {
//   height: 50px;
//   position: absolute;
//   margin-right: 10px;
// }


// .chat-main__Footer__Form__fa-image {
//   line-height: 50px;
//   font-size: 25px;
//   padding-right: 10px;
// }


// .chat-main__Footer__Form__fa-image-before {
//   content: "";
//   input{
//     display: none;
//   }
// }


// .chat-main__Footer__Form__submit {
//   background-color: #38AEF0;
//   border: none;
//   color: #fff;
//   font-size: 16px;
//   height: 50px;
//   margin-left: 15px;
//   padding: 0 30px;
//   display: flex;
//   align-items: center;
// }

